.main { margin:2px; }
.gradient { border-top-left-radius: 10px; border-top-right-radius: 10px; background: linear-gradient( #ddd, #eee ); }
.center { text-align:center; }
.highlight { background-color: #ff9; }
.row_space { margin-top: 20px; margin-bottom: 20px; }
.header{ background: #4191E0; margin-top: 20px; margin-bottom: 20px; border-radius:15px; }
.tabheader { }
label.big { font-size: 20px; }
.tabfooter { background: #181EE0; padding: 5px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.header h3 { margin-top:10px; }
.tabheader h4 { margin: 5px; }
.form-group { margin-bottom:3px; }
.border-right { border-right:solid 1px #666; }
.white { color:white; }
.none { margin: 0px; padding:0px; }
.box_header { background: white; border-top-left-radius: 10px; border-top-right-radius: 10px; border: solid 1px grey; padding: 5px; padding-top: 10px; padding-right: 15px; background: linear-gradient( grey, white) }
.box { background: white; border-radius: 5px; padding-top: 15px; padding-bottom: 0 }
.box_graph { background: white; margin: 0; padding: 0; height: 300px; }
.box_footer { background: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border: solid 1px #ddd; padding: 5px; padding-top: 10px; padding-right: 15px; }
.padding-bottom { padding-bottom: 0px; margin-bottom: 0px; }
.top { margin-top:30px; }
p.justify { text-align: justify; }
p.big { font-size: 20px; font-weight: bold; }

.ui-slider-handle { border: 1px solid #0066AA; }
.ui-widget-header { background: #6DBAEC; }
h1, h2, h3 { margin: 0 0 1em 0; }
.mb0 { margin-bottom: 0; }
.light { color: #C0C0C0; }
hr { background-color: #0066AA; color: #0066AA; height: 2px; margin:0px; }
